body {
  background-color: white;
  color: #222222;
  font-family: "HelveticaNeueLTStd-Roman";
  font-size: 16px;
}

a {
  color: #272727;
}

.white {
  color: white;
}

.red {
  color: #e51a23;
}

.black {
  color: #222222;
}

.helvBold {
  font-family: "HelveticaNeue-Bold";
}

.helvMedium {
  font-family: "HelveticaNeue-Medium";
}

.Title {
  font-family: "HelveticaNeue-Medium";
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .Title {
    margin-bottom: 30px;
  }
}
.Title--red {
  color: #e51a23;
}
.Title--bdbGray::after {
  background-color: #000;
}
.Title--bdbGray span::after {
  background-color: #000;
}
.Title--bdbWhite::after {
  background-color: white;
}
.Title--white {
  color: white;
}
.Title--bdb::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 5px;
  width: 38px;
}
.Title--bdbSpan::after {
  display: none;
}
.Title--bdbSpan span {
  position: relative;
}
.Title--bdbSpan span::after {
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  margin-top: 5px;
  position: absolute;
  width: 38px;
}

.Title-legend {
  font-family: "HelveticaNeue-Bold";
}

.Subtitle {
  margin-bottom: 20px;
}

.Marker-list {
  padding-left: 0;
}
.Marker-list li {
  list-style: none;
}

.Marker-title {
  margin-top: 0;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?i4exl8");
  src: url("../fonts/icomoon.eot?i4exl8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?i4exl8") format("truetype"), url("../fonts/icomoon.woff?i4exl8") format("woff"), url("../fonts/icomoon.svg?i4exl8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.Flex {
  display: -webkit-flex;
  display: flex;
}
.Flex--justify {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.Flex--wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .Flex {
    display: block;
  }
}

.Flex-30 {
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
}

.Flex-40 {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}

.Flex-50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}

.Flex-50-center {
  margin: 0 auto;
  padding: 40px 0;
  width: 70%;
}

.Flex-70 {
  -webkit-flex-basis: 70%;
  flex-basis: 70%;
}

@media only screen and (max-width: 991px) {
  .Flex-card {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

.PanelGroup .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.PanelGroup .Panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.Panel {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 20px 15px;
}
@media only screen and (max-width: 767px) {
  .Panel {
    padding: 0;
  }
}
.Panel:nth-child(2n) {
  background-color: #eee;
}
.Panel .Title {
  font-size: 1.75em;
  margin-bottom: 0;
}
.Panel .Title a {
  display: block;
  position: relative;
}
.Panel .Title a::after {
  background: transparent url("../images/sprites.png") -53px -20px no-repeat;
  content: "";
  cursor: pointer;
  height: 33px;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 33px;
}
@media only screen and (max-width: 767px) {
  .Panel .Title a::after {
    right: 0;
    top: 0;
  }
}
.Panel .Title a:hover, .Panel .Title a:focus {
  text-decoration: none;
}
.Panel .panel-heading.active .Title a::after {
  background-position: -20px -20px;
}
.Panel .panel-body {
  padding: 25px 15px;
}
.Panel .panel-body p strong {
  font-family: "HelveticaNeue-Bold";
  font-weight: normal;
}
.Panel .panel-body ul {
  list-style-image: url("../images/list-rombo.png");
  padding-left: 15px;
}
.Panel .panel-body ul li {
  margin-bottom: 15px;
}
.Panel .panel-body ul li strong {
  font-family: "HelveticaNeue-Bold";
  font-weight: normal;
}

.Header {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .Header {
    background-color: #e51a23;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
}
.Header--transparent {
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .Header-logo {
    margin: 5px 0;
  }
}

.Header-top {
  background-color: #dedede;
}

.Header-portal {
  font-family: "HelveticaNeueLTStd-Roman";
  line-height: 3.58em;
  margin: 0;
}
.Header-portal::before {
  background: transparent url("../images/sprites.png") 0 0 no-repeat;
  content: "";
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
  width: 15px;
}
.Header-portal a {
  border-right: 1px solid #cfcfcf;
  display: inline-block;
  padding-right: 15px;
}

.Header-navTop-wrapper {
  display: inline-block;
  vertical-align: top;
}

.Header-navTop-list {
  margin-bottom: 0;
}
.Header-navTop-list--noLastBorder:last-child {
  border-right: none;
}
.Header-navTop-list li {
  border-right: 1px solid #cfcfcf;
  font-family: "HelveticaNeueLTStd-Roman";
  font-size: 0.875em;
  line-height: 3.58em;
  padding: 0 10px;
}
.Header-navTop-list li.Social a::before {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
}
.Header-navTop-list li.Social--fb a::before {
  background-position: -15px 0;
}
.Header-navTop-list li.Social--tw a::before {
  background-position: -35px 0;
}
.Header-navTop-list li.Social--you a::before {
  background-position: -55px 0;
}
.Header-navTop-list li.current-menu-item {
  font-family: "HelveticaNeue-Bold";
  text-decoration: underline;
}

.Header-mainMenu {
  position: absolute;
  width: 100%;
  z-index: 9;
}

body.single-publications .Header-mainMenu-list li.menu-item-object-publications a::after {
  background-color: #e51a23;
  display: block;
}
body.search .Header-mainMenu-list li.search a::after {
  background-color: #e51a23;
  display: block;
}
body.single .Header-mainMenu-list li.single a::after {
  background-color: #e51a23;
  display: block;
}

.Header-mainMenu-list {
  background-color: #fff;
  border-bottom: 2px solid #e51a23;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}
.Header-mainMenu-list > li {
  z-index: 9;
}
.Header-mainMenu-list > li:hover a::after, .Header-mainMenu-list > li.active a::after, .Header-mainMenu-list > li.current-menu-item a::after, .Header-mainMenu-list > li.current-menu-ancestor a::after {
  background-color: #e51a23;
  display: block;
}
.Header-mainMenu-list li {
  padding: 10px 20px;
  position: relative;
}
.Header-mainMenu-list li.resalt {
  background-color: #e51a23;
}
.Header-mainMenu-list li.resalt a {
  color: white;
}
.Header-mainMenu-list li::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 30%;
  vertical-align: middle;
  width: 1px;
}
.Header-mainMenu-list li:last-child::after {
  display: none;
}
.Header-mainMenu-list li a {
  color: #272727;
  display: block;
  font-family: "HelveticaNeueLTStd-Roman";
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Header-mainMenu-list li a::after {
  background-color: transparent;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 32px;
}
.Header-mainMenu-list li a:hover {
  text-decoration: none;
}
.Header-mainMenu-list li:hover .sub-menu {
  display: block;
}
.Header-mainMenu-list li .sub-menu {
  background-color: #2b2b2b;
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.Header-mainMenu-list li .sub-menu li {
  border-bottom: 1px solid #4e4d4d;
  list-style: none;
  padding: 15px 10px;
  text-align: center;
}
.Header-mainMenu-list li .sub-menu li::after {
  display: none;
}
.Header-mainMenu-list li .sub-menu li a {
  color: white;
}
.Header-mainMenu-list li .sub-menu li a::after {
  display: none;
}
.Header-mainMenu-list li .sub-menu li.active, .Header-mainMenu-list li .sub-menu li.current-menu-item, .Header-mainMenu-list li .sub-menu li:hover {
  background-color: #000;
}

.Header-navToggle {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  right: 0;
  z-index: 9;
}
.Header-navToggle .Icon::before {
  background: transparent url("../images/sprites.png") -86px 0 no-repeat;
  content: "";
  display: block;
  height: 31px;
  width: 35px;
}
@media only screen and (max-width: 767px) {
  .Header-navToggle {
    display: block;
  }
}

.Page {
  padding: 20px 0 40px 0;
  position: relative;
}
.Page--bgi {
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .Page--bgi--noresponsive {
    background-image: none !important;
  }
}
.Page--bgiContain {
  background-size: contain;
}
.Page--bgiCover {
  background-size: cover;
}
.Page--bgiLeft {
  background-position: 100% 0;
}
.Page--bgiCenter {
  background-position: center center;
}
.Page--graySoft {
  background-color: #eaeaea;
}
.Page p {
  font-size: 1em;
  text-align: justify;
  word-wrap: break-word;
}
.Page li {
  text-align: justify;
}
.Page--info p {
  margin-bottom: 25px;
  text-align: justify;
  word-wrap: break-word;
}
.Page--editor a {
  color: #e51a23;
}
.Page--editor p {
  margin-bottom: 15px;
  text-align: justify;
  word-wrap: break-word;
}
.Page--editor strong {
  font-family: "HelveticaNeue-Bold";
  font-weight: normal;
}
.Page--editor h4 {
  margin-top: 30px;
}
.Page--editor h4, .Page--editor h5 {
  font-family: "HelveticaNeue-Bold";
  text-transform: uppercase;
}
.Page--editor ul {
  padding-left: 0;
}
.Page--editor ul li {
  list-style-type: none;
  margin-bottom: 15px;
  text-align: justify;
}
.Page--nopdbt {
  padding-bottom: 0;
}
.Page--nopd {
  padding: 0;
}

.Page-bdr {
  border-right: 1px solid #7c7c7c;
}
@media only screen and (max-width: 991px) {
  .Page-bdr {
    border-right: none;
  }
}

.Page-button {
  margin-top: 30px;
}

.Welcome {
  padding: 50px 0;
}

.Contribute {
  padding: 25px 0;
}
.Contribute .Button {
  margin-top: 20px;
}

.Page-figure {
  border-bottom: 5px solid #e51a23;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .Page-figure {
    padding-bottom: 15px;
    padding-top: 90px;
  }
}
.Page-figure .Title {
  bottom: 25px;
  font-size: 3em;
  left: 10%;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
}
@media only screen and (max-width: 991px) {
  .Page-figure .Title {
    bottom: 5px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .Page-figure .Title {
    color: #e51a23;
    padding: 0 15px;
    position: static;
  }
}

.Breadcrumb {
  list-style-type: none;
  margin-bottom: 40px;
  padding-left: 0;
}
.Breadcrumb li {
  display: inline-block;
  font-family: "HelveticaNeueLTStd-Roman";
  font-size: 0.875em;
  vertical-align: top;
}
.Breadcrumb li a {
  color: #272727;
}
.Breadcrumb li.active, .Breadcrumb li.item-current {
  color: #e51a23;
}
.Breadcrumb li.separator {
  margin: 0 10px;
}

.Page-navigation {
  margin-top: 25px;
}
.Page-navigation ul.page-numbers {
  margin-bottom: 20px;
  padding-left: 0;
}
.Page-navigation ul.page-numbers li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}
.Page-navigation ul.page-numbers a.page-numbers, .Page-navigation ul.page-numbers span.page-numbers {
  border: 1px solid #2e3b47;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 5px 10px;
}
.Page-navigation ul.page-numbers a.page-numbers {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Page-navigation ul.page-numbers a.page-numbers:hover {
  background-color: #e51a23;
  border-color: #e51a23;
  color: white;
  text-decoration: none;
}
.Page-navigation ul.page-numbers span.current {
  background-color: #e51a23;
  border-color: #e51a23;
  color: white;
}

.Page-loader {
  color: #2b2b2b;
  font-size: 3em;
  position: absolute;
  top: 150px;
  width: 100%;
  z-index: 9;
}
.Page-loader--50 {
  top: 50%;
}

.LastFile {
  margin-bottom: 30px;
}

.OldFiles {
  background-color: #ececec;
  padding: 40px 0;
}
@media only screen and (max-width: 767px) {
  .OldFiles {
    padding: 20px 0;
  }
  .OldFiles .Flex-40, .OldFiles .OldFiles-item-info {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    width: 47%;
  }
  .OldFiles .OldFiles-item-info {
    margin-right: 0;
  }
  .OldFiles .OldFiles-item-info h4 {
    margin-top: 0;
  }
  .OldFiles .OldFiles-item-info .Page-button .Button {
    padding: 10px 15px;
  }
}

.OldFiles-item {
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .OldFiles-item {
    margin-bottom: 25px;
  }
}

.OldFiles-item-info {
  margin-top: 20px;
}

.Sections h4 {
  font-family: "HelveticaNeue-Bold";
}
.Sections ul {
  margin-bottom: 30px;
  padding-left: 0;
}
.Sections ul li {
  font-family: "HelveticaNeue-Light";
  list-style-type: none;
  margin-bottom: 5px;
}
.Sections strong {
  font-family: "HelveticaNeue-Bold";
  font-weight: normal;
}

.gde-frame {
  margin-top: 25px;
}

.wsp-pages-list li.page_item_has_children .children li.page_item_has_children .children {
  display: none;
}

.Form .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #b4b4b4;
  height: 36px;
}
.Form .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Form .form-control:-moz-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form .form-control::-moz-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form .form-control:-ms-input-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form .form-control::-webkit-input-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form--search {
  padding-top: 30px;
}
.Form--search .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #b4b4b4;
  border-right: none;
  height: 36px;
}
.Form--search .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Form--search .form-control:-moz-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form--search .form-control::-moz-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form--search .form-control:-ms-input-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form--search .form-control::-webkit-input-placeholder {
  color: #272727;
  font-family: "HelveticaNeueLTStd-Roman";
}
.Form--search .input-group-btn button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #b4b4b4;
  border-left: none;
}
.Form--search .Form-icon::before {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-position: 0 -20px;
  content: "";
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.tml {
  margin: 0 auto;
}
.tml p {
  margin: 0 0 15px 0 !important;
}
.tml label {
  color: #222222;
  margin-bottom: 0;
}
.tml input {
  color: #222222;
  height: 42px;
  padding: 5px;
}
.tml .tml-submit-wrap {
  text-align: center;
}
.tml .tml-submit-wrap input[type="submit"] {
  background-color: #e51a23;
  border: 1px solid #e51a23;
  color: white;
  padding: 5px 15px;
}
.tml .tml-submit-wrap input[type="submit"]:hover {
  background-color: #fff;
  border-color: #222222;
  color: #222222;
}
.tml .tml-action-links {
  display: block !important;
}
.tml .tml-action-links li {
  display: inline-block;
  float: none !important;
  vertical-align: top;
}

.tml-login .tml-rememberme-submit-wrap {
  display: block !important;
}
.tml-login .tml-rememberme-wrap, .tml-login .tml-submit-wrap {
  display: block !important;
}
.tml-login .tml-submit-wrap {
  text-align: center !important;
}

.Carousel--home .carousel-caption {
  bottom: auto;
  padding: 0;
  top: 20%;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .carousel-caption {
    top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .Carousel--home .carousel-caption {
    top: 20%;
  }
}
.Carousel--home .carousel-caption h3 {
  color: white;
  font-family: "HelveticaNeue-Medium";
  font-size: 3em;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .carousel-caption h3 {
    font-size: 2em;
    margin-top: 10px;
  }
}
.Carousel--home .carousel-caption p {
  color: white;
  font-family: "HelveticaNeue-Light";
  font-size: 1.5em;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .carousel-caption p {
    font-size: 1.125em;
  }
}
.Carousel--home .carousel-caption p > .Button {
  font-size: 0.92em;
}

.Button {
  font-family: "HelveticaNeue-Medium";
  text-shadow: none;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Button--white {
  background-color: #fff;
  color: #e51a23;
  display: inline-block;
  padding: 10px 30px;
}
.Button--white:hover {
  background-color: #e51a23;
  color: white;
  text-decoration: none;
}
.Button--white--bd {
  border: 1px solid #2b2b2b;
  color: #272727;
}
.Button--red {
  background-color: #e51a23;
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  padding: 10px 30px;
}
.Button--red:hover {
  background-color: white;
  border-color: #222222;
  color: #222222;
  text-decoration: none;
}
.Button--transparent {
  border: 1px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
}
.Button--transparent:hover {
  background-color: white;
  color: #e51a23;
  text-decoration: none;
}

.Prefooter {
  background-color: #e51a23;
  padding: 30px 0;
}
.Prefooter .Subtitle {
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .Prefooter .Subtitle {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .Prefooter-wrapper {
    margin-bottom: 35px;
  }
}

.Prefooter-list {
  padding-left: 0;
}
.Prefooter-list li {
  font-family: "HelveticaNeue-Light";
  font-size: 0.875em;
  list-style: none;
  margin-bottom: 5px;
}
@media only screen and (max-width: 991px) {
  .Prefooter-list li {
    margin-bottom: 15px;
  }
}
.Prefooter-list li a {
  color: white;
}
.Prefooter-list li.current-menu-item a {
  text-decoration: underline;
}
.Prefooter-list--icons li {
  color: white;
  margin-bottom: 15px;
  padding-left: 35px;
  position: relative;
}
.Prefooter-list--icons li .Icon {
  font-size: 1.5em;
  left: 0;
  position: absolute;
  top: 0;
}
.Prefooter-list--icons li a {
  color: white;
}

.Footer {
  background-color: #2b2b2b;
  padding: 30px 0;
}
.Footer p {
  font-family: "HelveticaNeue-Light";
  font-size: 0.75em;
}
@media only screen and (max-width: 991px) {
  .Footer p {
    margin-bottom: 25px;
    text-align: center;
  }
}

.Footer-map {
  margin-top: 50px;
  height: 400px;
}

.Footer-navSocial-list {
  display: table;
  margin: 0 0 0 auto;
  padding-left: 0;
}
@media only screen and (max-width: 991px) {
  .Footer-navSocial-list {
    margin: 0 auto;
  }
}
.Footer-navSocial-list li {
  background-color: #707070;
  display: table-cell;
  margin-left: -4px;
  padding: 5px 10px;
}
.Footer-navSocial-list li a {
  color: white;
  font-size: 1.5em;
}
.Footer-navSocial-list li a:hover {
  color: #e51a23;
  text-decoration: none;
}

.Cards {
  border: 1px solid #9c9c9c;
  margin-bottom: 20px;
  margin-right: 15px;
}
.Cards--flex {
  display: -webkit-flex;
  display: flex;
}
.Cards--33 {
  -webkit-flex-basis: 32%;
  flex-basis: 32%;
}
@media only screen and (max-width: 991px) {
  .Cards--33 {
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
    margin-right: 0;
  }
}

.Cards-figure {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}

.Cards-info {
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  padding: 0 15px;
}
.Cards-info h3 {
  font-family: "HelveticaNeue-Medium";
  font-size: 1em;
}
.Cards-info h4 {
  font-size: 0.875em;
  font-family: "HelveticaNeue-Bold";
}
.Cards-info p {
  font-family: "HelveticaNeue-Light";
  font-size: 0.875em;
}

.Search-wrapper {
  padding: 20px 0;
}

.Search {
  border-bottom: 1px solid #676767;
  padding: 15px 0;
}

.Sidebar-widget {
  margin: 30px 0;
  position: relative;
}

.Sideber-title {
  background-color: #e0ddde;
  margin-bottom: 10px;
  padding: 10px;
}
.Sideber-title .Title {
  font-size: 1.25em;
  margin: 0;
}

.Sidebar-list {
  padding-left: 0;
}
.Sidebar-list--inline li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

.tagcloud a {
  font-size: 0.875em !important;
}

.Slidebar {
  background-color: #e51a23;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 30px 0;
  position: fixed;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 99;
}
.Slidebar.active {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.Slidebar-close {
  color: white;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 25px;
  top: 25px;
}
.Slidebar-close i {
  border: 2px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
}

.Slidebar-nav {
  margin-bottom: 50px;
  margin-top: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .Slidebar-nav {
    margin-top: 70px;
  }
}

.Slidebar-list {
  margin: 0 auto;
  padding-left: 0;
  width: 50%;
}
.Slidebar-list li {
  list-style: none;
  margin-bottom: 25px;
  position: relative;
}
.Slidebar-list li a {
  color: white;
  font-size: 1.625em;
  padding-bottom: 3px;
}
.Slidebar-list li a:hover, .Slidebar-list li a:focus {
  text-decoration: none;
}
.Slidebar-list li a::after {
  background-color: #e51a23;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 32px;
}
.Slidebar-list li a .icons {
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  .Slidebar-list li a {
    font-size: 1.5em;
  }
}
.Slidebar-list li:hover > a::after, .Slidebar-list li:focus > a::after, .Slidebar-list li.active > a::after, .Slidebar-list li.current-menu-item > a::after, .Slidebar-list li.current-category-ancestor > a::after, .Slidebar-list li.current-post-ancestor > a::after, .Slidebar-list li.current-page-ancestor > a::after {
  background-color: white;
}
.Slidebar-list li.js-more {
  position: relative;
}
.Slidebar-list li.js-more .js-slidebar-nav-more {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.Slidebar-list li .sub-menu {
  display: none;
  margin-top: 15px;
  padding-left: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Slidebar-list li .sub-menu.active {
  display: block;
}
.Slidebar-list li .sub-menu li a {
  font-size: 1.375em;
}
@media only screen and (max-width: 600px) {
  .Slidebar-list {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .Slidebar-list {
    width: 90%;
  }
}

.Slidebar-navSocial-list {
  display: table;
  margin: 0 auto;
  padding-left: 0;
}
.Slidebar-navSocial-list li {
  display: table-cell;
  list-style: none;
  padding: 15px;
}
.Slidebar-navSocial-list li a {
  color: white;
  font-size: 2.5em;
}
.Slidebar-navSocial-list li a:hover {
  text-decoration: none;
}

.Slidebar-navLogin {
  margin-bottom: 25px;
}

.Slidebar-navLogin-list {
  margin-bottom: 0;
}
.Slidebar-navLogin-list li {
  border-right: 1px solid white;
  padding: 10px 15px;
}
.Slidebar-navLogin-list li:last-child {
  border-right: none;
}
.Slidebar-navLogin-list li a {
  color: white;
  font-size: 1.5em;
}
.Slidebar-navLogin-list li a:hover {
  color: white;
}
.Slidebar-navLogin-list li.current-menu-item a {
  font-family: "HelveticaNeue-Bold";
  text-decoration: underline;
}
