.Cards {
  border: 1px solid #9c9c9c;
  margin-bottom: 20px;
  margin-right: 15px;
  &--flex {
    @include display-flex();
  }
  &--33 {
    @include flex-basis(32%);
    @media only screen and (max-width: 991px) {
      @include flex-basis(48%);
      margin-right: 0;
    }
  }
}
.Cards-figure {
  @include flex-basis(40%);
}
.Cards-info {
  @include flex-basis(60%);
  padding: 0 15px;
  h3 {
    font-family: "HelveticaNeue-Medium";
    font-size: 1em;
  }
  h4 {
    font-size: 0.875em;
    font-family: "HelveticaNeue-Bold";
  }
  p {
    font-family: "HelveticaNeue-Light";
    font-size: 0.875em;
  }
}
