.Form {
  .form-control {
    @include border-radius(0);
    border: 1px solid #b4b4b4;
    height: 36px;
    &:focus {
      @include box-shadow(none);
    }
    @include input-placeholder {
      color: $link-color;
      font-family: "HelveticaNeueLTStd-Roman";
    }
  }
  &--search {
    padding-top: 30px;
    .form-control {
      @include border-radius(0);
      border: 1px solid #b4b4b4;
      border-right: none;
      height: 36px;
      &:focus {
        @include box-shadow(none);
      }
      @include input-placeholder {
        color: $link-color;
        font-family: "HelveticaNeueLTStd-Roman";
      }
    }
    .input-group-btn {
      button {
        @include border-radius(0);
        border: 1px solid #b4b4b4;
        border-left: none;
      }
    }
    .Form-icon {
      &::before {
        background-image: url('../images/sprites.png');
        background-repeat: no-repeat;
        background-position: 0 -20px;
        content: "";
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 20px;
      }
    }
  }
}
.tml {
  margin: 0 auto;
  p {
    margin: 0 0 15px 0 !important;
  }
  label {
    color: $text-color;
    margin-bottom: 0;
  }
  input {
    color: $text-color;
    height: 42px;
    padding: 5px;
  }
  .tml-submit-wrap {
    text-align: center;
    input[type="submit"] {
      background-color: $red;
      border: 1px solid $red;
      color: white;
      padding: 5px 15px;
      &:hover {
        background-color: #fff;
        border-color: $text-color;
        color: $text-color;
      }
    }
  }
  .tml-action-links {
    display: block !important;
    li {
      display: inline-block;
      float: none !important;
      vertical-align: top;
    }
  }
}
.tml-login {
  .tml-rememberme-submit-wrap {
    display: block !important;
  }
  .tml-rememberme-wrap, .tml-submit-wrap {
    display: block !important;
  }
  .tml-submit-wrap {
    text-align: center !important;
  }
}
